# Default ignored files
/.idea.2020-Game-demostration-pillowfixed/.idea/workspace.xml
.vs/
Assembly-Csharp.csproj
*.sln
*.csproj
Library/
Logs/
Packages/
Temp/
[Oo]bj/
Unity.Analytics.DataPrivacy.csproj
Unity.CollabProxy.Editor.csproj
Unity.PackageManagerUI.Editor.csproj
Unity.TextMeshPro.Editor.csproj
Unity.TextMeshPro.csproj
